# By default, this file should be stored in /etc/teleport.yaml
# See https://gravitational.com/teleport/docs/admin-guide/#using-teleport-with-openssh

## IMPORTANT ##
# When editing YAML configuration, please pay attention to how your editor
# handles white space. YAML requires consistent handling of tab characters.

# This section of the configuration file applies to all teleport
# services.
teleport:
  # nodename allows to assign an alternative name this node can be reached by.
  # by default it's equal to hostname
  nodename: <%= node['fqdn'] %>

  # Data directory where Teleport keeps its data, like keys/users for
  # authentication (if using the default BoltDB back-end)
  data_dir: /var/lib/teleport

  # Invitation token used to join a cluster. it is not used on
  # subsequent starts
  auth_token: <%= @static_token %>

  # Optional CA pin of the auth server. This enables more secure way of adding
  # new nodes to a cluster. See "Adding Nodes" section above.
  ca_pin: "<%= @ca_pin %>"

  # list of auth servers in a cluster. you will have more than one auth server
  # if you configure teleport auth to run in HA configuration.
  # If adding a node located behind NAT, use the Proxy URL. e.g.
  #  auth_servers:
  #     - teleport-proxy.example.com:3080
  auth_servers:
    - <%= @auth_public_addr_from_server %>

  # Teleport throttles all connections to avoid abuse. These settings allow
  # you to adjust the default limits
  connection_limits:
    max_connections: 1000
    max_users: 250

  # Logging configuration. Possible output values are 'stdout', 'stderr' and
  # 'syslog'. Possible severity values are INFO, WARN and ERROR (default).
  log:
    output: stderr
    severity: INFO

  # Type of storage used for keys. You need to configure this to use etcd
  # backend if you want to run Teleport in HA configuration.
  storage:
    type: dir
    path: /var/lib/teleport

# This section configures the 'node service':
ssh_service:
  # Turns 'ssh' role on. Default is 'yes'
  enabled: yes

  <% if @dynamic_labels.size > 0 %>
  # Dynamic labels AKA "commands":
  # The period setting tells teleport to execute the command above
  # once an hour. This value cannot be less than one minute.
  commands:
    <% @dynamic_labels.sort_by { |label| label[:key] }.each do |label| %>
    - name: <%= label[:key] %>
      command: <%= label[:value] %>
      period: <%= label[:period] %>
    <% end %>
  <% end %>

  <% if @static_labels.size > 0 %>
  # In addition to specifying a custom nodename, Teleport also allows for
  # the application of arbitrary key:value pairs to each node, called labels.
  #
  # Here are defined static labels.
  #
  # See https://gravitational.com/teleport/docs/admin-guide/#labeling-nodes
  labels:
    <% # Print the labels sorted by label key %>
    <% @static_labels.sort_by { |label| label[:key] }.each do |label| %>
    <%= label[:key] %>: <%= label[:value] %>
    <% end %>
  <% end %>

  # IP and the port for SSH service to bind to.
  listen_addr: <%= node['teleport']['ssh_service']['listen_addr'] %>

<% if node['teleport']['kubernetes']['listen_addr'] %>
# This section configures the 'proxy service'
kubernetes_service:
  # Turns 'kubernetes' role on. Default is 'yes'
  enabled: yes

  # Kubernetes forwarding/proxy address.
  listen_addr: <%= node['teleport']['kubernetes']['listen_addr'] %>

  <% if node['teleport']['kubernetes']['kubeconfig_file'] %>
  # This setting is not required if the Teleport proxy service is
  # deployed inside a Kubernetes cluster. Otherwise, Teleport proxy
  # will use the credentials from this file:
  kubeconfig_file: <%= node['teleport']['kubernetes']['kubeconfig_file'] %>
  <% end %>
<% end %>
